<!-- <h1>Password Generator!</h1>

<div class="">
  <label for="">Enter Length</label>
  <input type="number" name="" id="" (input)="onChangeLength($event)">
</div>

<div>
  <label for="">Use Letters</label>
  <input type="checkbox" name="" id="" (change)="onChangeUseLetters()">
</div>
<div>
  <label for="">Use Numbers</label>
  <input type="checkbox" name="" id="" (change)="onChangeUseNumbers()">
</div>
<div>
  <label for="">Use Symbols</label>
  <input type="checkbox" name="" id="" (change)="onChangeUseSymbols()">
</div>

<div class="">
  <button type="submit" (click)="onButtonClick()"
    [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))">
    Generate!
  </button>
</div>

<div>
  <label for="">Your Password</label>
  <input type="text" [value]="getPassword()">

  {{ getPassword()}}
</div> -->

<div class="d-flex">
  <div class="container">
    <div class="columns is-centered">
      <div class="box column is-one-third">
        <h1 class="title has-text-centered">Password Generator</h1>

        <div class="field">
          <label>Length</label>
          <input class="input" (input)="onChangeLength($event)" />
        </div>

        <div class="field" *ngIf="length">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseCapitals()" type="checkbox" />
              Use Capital Letters
            </label>
          </div>
        </div>

        <div class="field" *ngIf="length">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseLetters()" type="checkbox" />
              Use Letters
            </label>
          </div>
        </div>

        <div class="field" *ngIf="length">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseNumbers()" type="checkbox" />
              Use Numbers
            </label>
          </div>
        </div>

        <div class="field" *ngIf="length">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseSymbols()" type="checkbox" />
              Use Symbols
            </label>
          </div>
        </div>

        <button *ngIf="includeLetters|| includeNumbers || includeSymbols || includeCapitals" [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers || includeCapitals))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
          Generate!
        </button>

        <div class="box" *ngIf="password">
          <label>Your Password</label>
          <input class="input" [value]="password" />
        </div>
      </div>
    </div>
  </div>
</div>
